@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --brown: #867070;
  --light-brown: #d5b4b4;
  --peach: #e4d0d0;
  --light-peach: #f5ebeb;
  --border: 1px solid var(--brown);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
  font-family: "Poppins", sans-serif;
}

/* CSS LOGIN */
/* --------- */
.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  border-radius: 7px;
  background-color: var(--peach);
}

.login-container h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 25px;
}

.login-container #login-form {
  display: flex;
  flex-direction: column;
}

#login-form label {
  font-size: 17px;
  margin-bottom: 2px;
}

#login-form input {
  font-size: 17px;
  padding-left: 7px;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

#login-form #login-btn {
  margin-top: 30px;
  cursor: pointer;
}

#login-form #login-btn:hover {
  background-color: var(--brown);
  color: var(--light-peach);
}

/* CSS NAVBAR */
/* ---------- */
.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-brown);
  height: 80px;
  padding: 10px 50px;
}

.navbar-container .left-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-container .left-box i {
  font-size: 25px;
}

.navbar-container .left-box h2 {
  font-size: 25px;
  margin-left: 7px;
}

.navbar-container .right-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70px;
}

.navbar-container .right-box .info-icon i {
  color: black;
  font-size: 25px;
  cursor: pointer;
}

.navbar-container .right-box .info-icon i:hover {
  color: var(--brown);
}

.navbar-container .right-box .cart-icon {
  display: flex;
  align-items: center;
}

.navbar-container .right-box .cart-icon i {
  font-size: 25px;
  cursor: pointer;
  color: black;
}

.navbar-container .right-box .cart-icon i:hover {
  color: var(--brown);
}

.navbar-container .info-content {
  position: absolute;
  right: 20px;
  top: 100px;
  background-color: var(--light-peach);
  border-radius: 5px;
  padding: 15px 30px;
  display: none;
}

.navbar-container .info-content.active {
  display: block;
}

.navbar-container .info-content h2 {
  font-size: 15px;
}

.navbar-container .info-content button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: rgb(206, 49, 49);
  border-radius: 4px;
  cursor: pointer;
}
.navbar-container .info-content #topup-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: rgb(120, 175, 129);
  border-radius: 4px;
  cursor: pointer;
}

.navbar-container .info-content button:hover {
  background-color: var(--brown);
  color: var(--light-peach);
}

/* CSS HERO */
/* ---------- */
.hero-container {
  background-image: url(../assets/images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  position: relative;
  margin-top: 80px;
}

.hero-container .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 35px;
}

/* CSS ITEMS */
/* ---------- */
.items-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.items-container .items-content {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 40px;
}

.items-content .search-box {
  display: flex;
  flex-direction: row;
  flex: 1;
  border: var(--border);
  height: 50px;
  border-radius: 7px;
  box-shadow: 0 0 7px 1px black;
  padding: 0 5px;
  margin-bottom: 12px;
}

.items-content .search-box input {
  flex: 0.9;
  padding-left: 20px;
}

.items-content .search-box button {
  flex: 0.1;
  cursor: pointer;
  margin: 6px;
  border-radius: 7px;
}

.items-content .search-box button:hover {
  background-color: #b5b0b0;
}

.filter-content {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  width: 270px;
  height: 37px;
}

.filter-content .filter-kategori {
  border: var(--border);
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 0 7px 1px black;
  padding: 0 5px;
}

.filter-content .filter-sort {
  border: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 0 7px 1px black;
  padding: 0 5px;
}

.items-content .medicine-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 30px;
}

.medicine-content .medicine-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--border);
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 0 7px 1px black;
}

.medicine-box .med-image img {
  height: 150px;
}

.medicine-box .med-info {
  margin-bottom: 15px;
  font-size: 15px;
}

.medicine-box .med-info span {
  padding: 2px 5px;
  border-radius: 3px;
  background-color: var(--light-peach);
}

.medicine-box .add-btn {
  padding: 10px;
  cursor: pointer;
}

.medicine-box .add-btn:hover {
  background-color: #b5b0b0;
}

/* CSS FOOTER */
/* ---------- */
.footer-container {
  margin-top: 20px;
  background-color: var(--brown);
  height: 200px;
  width: 100%;
}

/* CART STYLING */
/* ----------- */

.header-barang {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2px;
  text-align: center;
  margin-bottom: 20px;
}

.daftar-barang {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2px;
}
.daftar-barang div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
}
.daftar-barang div img{
  margin-right: 20px;
}

.daftar-barang div span {
  margin: 0 10px 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.daftar-barang .close{
  cursor: pointer;
}

.cart span{
  margin-right: 13px;
  font-size: 21px;
}
.cart button{
  margin-right: 13px;
  font-size: 21px;
}

.fa-minus-square {
  cursor: pointer;
}
.fa-plus-square {
  cursor: pointer;
}

#totalBelanjaan{
  font-weight: bold;
}

.btn-box a{
  float: right;
  cursor: pointer;
  text-decoration: none;
}

.btn-box .btn-2{
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  border-radius: 30px;
  text-align: center;
  padding: 10px 40px;
  margin-left: 20px;
  z-index: 1;
  border: 2px solid #ff4c4c;
  background-color: #ff4c4c;
  color : #fff;
}

.btn-box .btn-2:hover{
  color: #ff4c4c;
}

.btn-box .btn-2:before{
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  top: 0px;
  right: 0px;
  z-index: -1;
  transition: all 500ms ease;
  background: #fff
}

.btn-box{
  position: relative;
  margin-top: 0;
}

.btn-box .btn-2:hover:before{
  width: 100%;
  left: 0px;
}

.btn-box .theme-btn{
  padding: 15px 40px;
}

/* Checkout  */
/* --------- */

#header-list-belanjaan {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
#header-list-belanjaan div{
  border-color: rgb(194, 188, 188) ;
  border-bottom: solid;

}
.checkout-belanjaan {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.checkout-belanjaan div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
  border-bottom: solid;
}
.checkout-belanjaan div img{
  margin-right: 20px;
}

.checkout-belanjaan  div span {
  margin: 0 10px 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#obat-dibeli {
  display: block;
}

#obat-jumlah-dibeli {
  display: block;
  margin-left: 10px;
  text-align: center;
  padding-left: 200px;
}